kserve==0.15.0
mlflow==3.10.0
numpy==1.26.4
pandas==2.2.3
requests==2.32.4
requests-oauthlib==2.0.0
joblib==1.5.1
matplotlib==3.10.3
cloudpickle==3.1.1
databricks-sdk==0.57.0
smart-open==7.1.0
scikit-learn==1.7.0
torch==2.7.1
torchmetrics==1.7.3
torchvision==0.22.1
